.login-container {
    max-width: 400px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.remember-me {
    display: flex;
    align-items: center;
}

.remember-me input {
    flex: 1;
    margin-left: 100px;
}

.remember-me label {
    flex: 5;
}

.remember-me input {
    margin-right: 10px;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #0056b3;
}

.forgot-password {
    text-align: center;
}

.forgot-password a {
    color: #007bff;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}
.register-now a{
    color: #007bff;
    text-decoration: none;
}
