.navbar {
    background-color: #96705b;
}
.form_control {
    display: flex;
    justify-content: flex-start; 
    margin-top: 20px;
}
.custom-form {
    position: absolute;
    right: 150px; 
    top: 50%; 
    transform: translateY(-50%);
  }
.navbar-brand {
    margin-right: 30px;
}